.buttonContainer {
  display: flex;
  justify-content: center; 
  position: sticky;
  top: 80px;
 width:85%;
 left:185px;
  background-color: white;
  z-index: 1;
}

.button {
  background-color: #f8d7f8;
  color: #8b1f8b;
  transition: background-color 0.3s;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.button:hover {
  background-color: #8b1f8b;
  color: white;
}

@media (max-width: 768px) {
  .button {
    padding: 5px;
    margin-left: 2px;
  }
}

@media (max-width: 576px) {
  .button {
    padding: 3px;
    margin-left: 2px;
    font-size: 14px;
  }
}
